html {
	width: 100%;
}

body {
	overflow-x: hidden !important;
}

body.show-spinner > main {
	overflow: hidden !important;
}

/* Hide everything under body tag */
body.show-spinner > * {
	opacity: 0;
}

/* Spinner */
body.show-spinner::after {
	content: " ";
	display: inline-block;
	width: 30px;
	height: 30px;
	border: 2px solid rgba(0, 0, 0, 0.2);
	border-radius: 50%;
	border-top-color: rgba(0, 0, 0, 0.3);
	animation: spin 1s ease-in-out infinite;
	-webkit-animation: spin 1s ease-in-out infinite;
	left: calc(50% - 15px);
	top: calc(50% - 15px);
	position: fixed;
	z-index: 1;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes spin {
	to {
		-webkit-transform: rotate(360deg);
	}
}

.restaricon {
	font-size: 1rem;
}

.timeres {
	font-size: 0.85rem;
}

.logores {
	height: 55px !important;
}

.textabla {
	font-size: 1rem;
}

.brad {
	border-top-left-radius: 2rem !important;
	border-top-right-radius: 2rem !important;
}

.bradb {
	border-bottom-left-radius: 2rem !important;
	border-bottom-right-radius: 2rem !important;
	background-color: white !important;
}

.p-flex {
	position: fixed !important;
}

body .iconos-size {
	font-size: 18px !important;
	text-align: center !important;
}

.iconos-size-sm {
	font-size: 14px !important;
	text-align: center !important;
}

.trash {
	color: red;
}

.position-alert {
	position: absolute !important;
	top: 78px;
	right: 0;
	width: 100vh;
}

/* ALEX */
.switch {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #00acc8;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 13px;
	width: 13px;
	right: 2px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: #ccc;
}

input:focus + .slider {
	box-shadow: 0 0 1px #ccc;
}

input:checked + .slider:before {
	-webkit-transform: translateX(-13px);
	-ms-transform: translateX(-13px);
	transform: translateX(-13px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 17px;
}

.slider.round:before {
	border-radius: 50%;
}
/* The slider disable*/
.sliderdis {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.sliderdis:before {
	position: absolute;
	content: "";
	height: 13px;
	width: 13px;
	left: 2px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .sliderdis {
	background-color: #00acc8;
}

input:focus + .sliderdis {
	box-shadow: 0 0 1px #00acc8;
}

input:checked + .sliderdis:before {
	-webkit-transform: translateX(13px);
	-ms-transform: translateX(13px);
	transform: translateX(13px);
}

/* Rounded sliders */
.sliderdis.round {
	border-radius: 17px;
}

.sliderdis.round:before {
	border-radius: 50%;
}

.table_loader {
	background-color: #fff;
	color: #666;
	width: 100%;
	padding: 0;
}
.table_loader th {
	background: #f7f9fa;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	padding: 12px 10px;
	text-align: left;
}
.table_loader td {
	border-top: 0px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	padding: 12px 10px;
	vertical-align: top;
}
.table_loader span {
	width: calc(100% - 5px);
	height: 15px;
	border-radius: 3px;
	background-image: linear-gradient(90deg, #ddd 0px, #e8e8e8 40px, #ddd 80px);
	background-size: 600px;
	animation: shine-lines-table 1.6s infinite linear;
	display: inline-block;
	min-width: 15px;
}
.table_loader span.img {
	width: calc(100% - 15px);
	height: 50px;
	margin-top: 5px;
}
.table_loader span.sub-temp-three {
	width: calc(100% - 70%);
	display: block;
}
.col1 {
	width: 25px;
}
.col2 {
	width: 60px;
}
.col3 {
	width: 45px;
}
.col4 {
	width: 150px;
}
.col5 {
	width: 145px;
}
.col6 {
	width: 113px;
}
.col7 {
	width: 73px;
}
.col8 {
	width: 160px;
}
.col9 {
	width: 92px;
}

@keyframes shine-lines-table {
	0% {
		opacity: 0.4;
	}
	40% {
		opacity: 0.8;
	}
	100% {
		opacity: 0.4;
	}
}

.contenedor-img {
	float: left;
	overflow: hidden;
	position: relative;
	text-align: center;
	background: #fff;
}
.contenedor-img .mascara,
.contenedor-img .contenido {
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
}
.contenedor-img img {
	display: block;
	position: relative;
}
.contenedor-img a.link {
	display: inline-block;
	text-decoration: none;
	padding: 7px 14px;
	background: #222;
	color: #fff;
	text-transform: uppercase;
	box-shadow: 0 0 1px #000;
}
.contenedor-img a.link:hover {
	box-shadow: 0 0 5px #000;
}

.ejemplo-1 img {
	transition: all 0.2s linear;
}
.ejemplo-1 .mascara {
	opacity: 0;
	background-color: rgba(89, 89, 89, 0.7);
	transition: all 0.3s ease-in-out;
}
.ejemplo-1 a.link {
	opacity: 0;
	transition: all 0.4s ease-in-out;
	transform: translateY(100px); /*Desplazamos para abajo*/
}
.ejemplo-1:hover img {
	transform: scale(1.1); /*Damos un ligero zoom a la imagen*/
}
.ejemplo-1:hover .mascara {
	opacity: 1;
}
.ejemplo-1:hover a.link {
	opacity: 1;
	transform: translateX(0px); /*Regresamos a las posiciones originales*/
}

.ejemplo-1:hover a.link {
	transition-delay: 0.1s; /*Aplicamos un pequeño retardo para que se muestre al final*/
	transform: translateY(0px);
}

/* SELECT */
/* The container must be positioned relative: */
.custom-select {
	position: relative;
	font-family: Arial;
}

.custom-select select {
	display: none; /*hide original SELECT element: */
}

.select-selected {
	background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
	position: absolute;
	content: "";
	top: 14px;
	right: 10px;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
	border-color: transparent transparent #fff transparent;
	top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
	color: #ffffff;
	padding: 8px 16px;
	border: 1px solid transparent;
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	cursor: pointer;
}

/* Style items (options): */
.select-items {
	position: absolute;
	background-color: DodgerBlue;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
	display: none;
}

.select-items div:hover,
.same-as-selected {
	background-color: rgba(0, 0, 0, 0.1);
}

.responsiveImg {
	width: 100%;
	height: auto;
}
